<div class="card" *ngIf="Cards&&Types">
    <div class="card-header">Cards</div>
    <div class="container">
        filters:
        <form>
            <div class="md-form">
                <input #pagesizef type="number" id="id_pagesizef" class="form-control" value="20" mdbActive >
                <label for="id_guess">page-size: </label>
            </div>
            <div class="md-form">
                <input #namef type="text" id="id_namef" class="form-control" mdbActive >
                <label for="id_guess">name: </label>
            </div>
            <div class="md-form">
                    <select #typef class="form-control">
                            <option *ngFor="let type of Types" value="{{type}}">{{type}}</option>
                    </select>
            </div>
            </form>
    </div>
    <div class="text-center">
            <button class="btn btn-default waves-light" mdbRippleRadius (click)="getCards(namef.value, pagesizef.value, typef.value)">apply</button>
    </div>
    <ul class="list-inline">
        <li *ngFor="let card of Cards.cards" class="list-inline-item">
            <a [routerLink]="['/cards', card.id]"><img src="{{card.imageUrl}}"></a>
        </li> 
    </ul>
    <ul class="list-inline">
        <li class="list-inline-item text-center" *ngIf="Cards.prev">
            <button class="btn btn-default waves-light" mdbRippleRadius (click)="getPrev()">previous page</button>
        </li>
        <li class="list-inline-item text-center" *ngIf="Cards.next">
            <button class="btn btn-default waves-light" mdbRippleRadius (click)="getNext()">next page</button>
        </li>
    </ul>
  </div>