<div class="card" *ngIf="Cards">
    <div class="card-header">Cards</div>
    <div class="container">
        filters:
        <form>
            <div class="md-form">
                <input #namef type="text" id="id_namef" class="form-control" mdbActive >
                <label for="id_guess">name: </label>
            </div>
        </form>
        <form>
                <div class="md-form">
                    <input #namef type="text" id="id_namef" class="form-control" mdbActive >
                    <label for="id_guess">name: </label>
                </div>
            </form>
    </div>
    <div class="text-center">
            <button class="btn btn-default waves-light" mdbRippleRadius (click)="getCards(namef.value)">apply</button>
    </div>
    <div class="card-block">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>id</th>
                    <th>name</th>
                    <th>image</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let card of Cards">
                    <td>{{card.id}}</td>
                    <td>{{card.name}}</td>
                    <td><img src="{{card.imageUrl}}"></td>
                </tr>
            </tbody>
        </table>
    </div>
  </div>